@font-face {
  font-family: 'rubikmedium';
   src: url('fonts/rubik-medium-webfont.woff2') format('woff2'),
       url('fonts/rubik-medium-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'rubikbold';
  src: url('fonts/rubik-bold-webfont.woff2') format('woff2'),
       url('fonts/rubik-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'rubikregular';
  src: url('fonts/rubik-regular-webfont.woff2') format('woff2'),
       url('fonts/rubik-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'rubiklight';
  src: url('rubik-light-webfont.woff2') format('woff2'),
       url('rubik-light-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
   }

/********************* RESET  ****************************/

* {
  padding: 0;
  margin: 0;
  list-style-type: none;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

a{
  text-decoration: none;
}

.container{
  max-width: 1200px;
  margin: auto;
}

body{
  background-color: rgb(252, 249, 249);
}

/********************* BANDEAU FONCE **************************/

#bandeaufonce{
  background-color: #C4B5A8;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 20px;
}

#bandeaufonce .search-bar{
  margin: 0.5%;
  padding: 0 20px;
}

#bandeaufonce input{
  padding: 8px;
  width:35vw;
  border-radius: 10px;
  border: none;
  outline: none;
  box-shadow: none;
  text-shadow: none; 
}

.fa-solid .fa-bars{
  position: absolute;
  right: 0; 
}

#bandeaufonce p{
  font-family: 'rubikbold';
  color: #354E57;
  font-size: 14px;
}

/********************* BANDEAU CLAIR *************************/

header{
  width: 100vw;
}

.navbar{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
  background-color: #D7C4B4;
  border-radius: 0 0 10px 10px;
}

.navbar a{
  color: white;
}

.navbar .logo{
  width: 2rem;
  font-weight: bolder;
  font-family: 'rubikmedium';
  font-size: 1.7rem;
  line-height: 16px;
  margin-right: 24px;
}

.navbar .logo:hover{
  color:rgba(245, 229, 8, 0.884) ;
}

.navbar .nav-links a{
  text-decoration: none;
}

.navbar .nav-links ul{
  display: flex;
}

.navbar .nav-links ul li{
  margin: 0 20px;
}

.navbar .nav-links ul li a{
  font-family: 'rubikregular';
  font-size: 1.2rem;
}

.navbar .nav-links ul li a:hover{
  border-bottom: 3px solid rgba(245, 229, 8, 0.884);
}

.navbar .nav-links ul li a.active{
  border-bottom: 3px solid rgba(245, 229, 8, 0.884);
  font-weight: 600;
}

.burger{
  font-size: 4rem;
  display: none;
  color: white;
}

/***************** SLIDER *********************************/

.nivoSlider {
  width:inherit;
  height: 80px;
  overflow: hidden;
  margin-top: 16px;
  border-radius: 10px ;
}

.nivoSlider img {
 opacity: 0.9;
}

.nivo-caption {
	position:absolute;
	left:55px;
	bottom:15px;
	background:rgba(0, 0, 0, 0);
	color:#ffffff;
  font-size: 0.9rem;
  text-shadow: 1px 1px 2px #1f2a2e;
}

.nivo-caption p{
  font-size: 1.3rem;
  font-weight: 600;
}

.nivo-caption a:hover{
  border-bottom: 3px solid white ;
}

.theme-default:hover .nivo-directionNav a {
	display: none;
}

.theme-default .nivo-controlNav {
	display: none;
}

.theme-default .nivoSlider{
  box-shadow: none;
}

/********************** BOUTONS RONDS  ********************/

#ShopHome{
  background-color: #EFF1F0;
  margin-top: 16px;
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  padding: 60px 100px;
}

.boutonshop a{
  width: 70px;
  height: 70px;
  background-color: rgb(252, 248, 248);
  border: 2px solid #d7c4b4b2;
  border-radius: 50%;
  padding: 20px;
  margin: 20px 30px;
  display: flex;
}

.boutonshop a:hover{
  background-color: rgba(208, 255, 0, 0.411);
  transition: 0.4s;
}

#ShopHome figcaption {
  position: relative;
  bottom: 18px;
  text-align: center;
  font-size: 20px;
  font-family: 'rubikregular';
  /* font-family: 'rubiklight'; ne fonctionne pas ? */
  font-weight: lighter;
  line-height: 1.5;
  color:#354e57d7;
}

/***************** PRESENTATION PROJET ********************/

#senourrir{
  display: flex;
  align-items: center;
}

#senourrir article{
  margin-left: 16px;
  margin-top: 16px;
  margin-bottom: 16px;
  background-color: #EFF1F0;
  border-radius: 10px;
  padding: 30px 24px;
}

#senourrir h1{
  font-family: 'rubikbold';
  font-size: 1.4rem;
  color: #354E57;
  padding-bottom: 22px ;
}

#senourrir p{
  font-family: 'rubikregular';
  font-size: 1rem;
  font-weight: lighter;
  width: 100%;
  color: #354E57;
}

#photopresentation img{
  margin: 16px 0;
  margin-left: 16px;
  border-radius:10px;
  opacity: 0.7;
}

#textesetbouton{
  display: flex;
  flex-wrap: wrap;
}

.boutonpresentation{
  background-color: #D7C4B4;
  padding: 10px 15px;
  font-family: 'rubikmedium';
  color: white;
  border-radius: 10px;
  position: relative;
  right: 3px;
  top:16px;
  width: 30%;
  text-align: center;
  justify-self: flex-end;
}

.boutonpresentation:hover{
  background-color: rgba(245, 229, 8, 0.884);
  transition: 0.4s;
}

/*************************** FOOTER ****************************/

#footer{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 16px;
}

/************************* coordonnées ************************/

#footer .coordonnees{
  width: 49%;
  background-color: #EFF1F0;
  border-radius: 10px;
  color: #354E57;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  
  flex-direction: column;
  padding: 16px 0px;
}

#footer{
  margin: 0 auto;
}
             
#footer .coordonnees h3{
  font-family: 'rubikbold';
  font-size: 20px;
}

#footer .coordonnees p{
  font-family: 'rubikregular';
  text-align: center;
  
}

#footer .coordonnees address{
  font-family: 'rubikregular'; 
  font-style: normal;
  font-weight: lighter;
  text-align: center;
}

#footer .telephone{
  position: relative;
  top: 6px;
  right: 8px;
}

                  /*googlemap*/

#footer .googlemap iframe{
  border-radius: 10px;
  width: 592px;
  height: 288px;
}

            /* MENTIONS LEGALES */

#mentionslegales{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-top: 12px;
}

#mentionslegales ul{
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  background-color: #D7C4B4;
  border-radius: 10px 10px 0 0;
  font-family: 'rubikmedium';
  padding: 40px 0;
}

#mentionslegales li a{
  display: flex;
  justify-content: sp;
  color: white;
  text-transform: none;
}

#mentionslegales li a:hover{
  border-bottom: 3px rgba(245, 229, 8, 0.884) solid ;
}

/******** PAGE MENTIONS LEGALES *******/

#legalstuff{
  background-color: #EFF1F0;
  border-radius: 10px;
  margin: 16px auto;
}

#legalimg{
  padding: 40px;
  display: flex;
  justify-content: center;
  
}

#legalimg img{
  width: 70%;
  height: 50%;
}

#legaltext{
  display: flex;
  flex-direction: column;
  font-family: 'rubikregular';
  align-items: center;
  color: #354E57;
}

#legaltext address, p, h4{
  width: 65%;
  justify-content: center;
  font-style: normal;
}

#legaltext h4{
  font-size: 20px;
  font-family: 'rubikmedium';
}

#legaltext p{
  padding: 20px 0;
  
}

/************ PAGE CONTACTEZ-NOUS ********/

#formulairecontact {
  margin-top: 16px;
  border-radius: 10px;
  background-color: #f2f2f2;
  padding: 40px 60px;
  margin-bottom: 16px;
}

#formulairecontact input[type=text], select, textarea {
  width: 100%;
  display: flex;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-sizing: border-box;
  margin-top: 24px;
  margin-bottom: 16px;
  resize: vertical;
  border: none;
  outline: none;
  font-family: 'rubikregular';
}

#formulairecontact input[type=submit] {
  background-color: #D3C1B1;
  color: white;
  font-family: 'rubikregular';
  padding: 12px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

#formulairecontact input[type=submit]:hover {
  background-color: rgba(208, 255, 0, 0.411);
}

#boutonsradio{
  display: flex;
}

#boutonsradio label{
  margin: 12px;
  font-family: 'rubikregular';
}

/********** PAGE DE SHOP *********/

/* message inspirant + photo */
#hautdepageshop{
  margin-top: 16px;
  display: flex;
  justify-content: space-between;
}

#texthautshop{
  background-color: #EFF1F0;
  border-radius: 10px;
  width: 100%;
  margin-right: 16px;
  padding: 90px 50px 50px;
  color: #354E57;
  max-height: 160px;
  
  
}

#texthautshop h4{
  font-family: 'rubikbold';
  font-size: 2rem;
}

#texthautshop p{
  font-family: 'rubikregular';
  
}
#photohautshop img{
  height: 300px;
}

/* selecteur de tri */
#trierpar{
  margin-top: 60px;
  margin-bottom: 16px;
  width: 200px;
  display: flex;
  justify-content: flex-end;
  position: relative;
  left: 380px;
  top: 100px;
}
            /* PRODUITS  */

#listeproduits{
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  position: relative;
  bottom: 200px;
  width: 1000px;
}

.produit{
  margin: 16px;
  color: #354E57;
}

.produit img:hover{
  opacity: 0.7;
}

.trait{
  width: 1000px;
  height: 1px;
  position: relative;
  z-index: 20000;
}
.produit button{
  background-color: #C4B5A8;
  padding: 5px;
  border-radius: 10px;
  box-shadow: none;
  text-shadow: none;
  color: white;
  font-family: 'rubikregular';
  font-size: 1rem;
  width: 100%;
  border: none;
 }

 .produit button:hover{
  background-color: rgba(79, 100, 41, 0.705);
  transition: 0.4s;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
}

#choixbouffe a{
  text-transform: none;
  color: black;
}

#choixbouffe h5{
  font-size: 1.2rem;
}

#choixbouffe h5.active{
  border-bottom: 2px black solid;
}

#choixbouffe a:hover{
  font-weight: bolder;
}

/******** MEDIA QUERRIES **********/

@media screen and (max-width:1200px){

  #footer .coordonnees{
      width: 100%;
  }

  #hautdepageshop{
    margin-left: 16px;
    margin-right: 16px;
  }
  
  #texthautshop{
    margin-left: 16px;
    margin-right: 16px;
    }


  .nivoSlider{
    margin-left: 16px;
    margin-right: 16px;
  }
  
  .googlemap{
      display: none;
  }
  
  #bandeaufonce{
    margin: 0 16px;
  }
  .navbar{
    margin: 0 16px;
  }

  #ShopHome{
    margin: 0px 16px;
    margin-top: 16px;
  }

  .coordonnees{
    margin: 0 16px;
  }

  .googlemap{
    margin: 0 16px;
  }

  #mentionslegales{
    margin: 0 16px;
    margin-top: 16px;
  }

  #formulairecontact{
    margin-left: 16px;
    margin-right: 16px;
    margin-bottom: 16px;
  }
  
  #legalstuff{
    margin-left: 16px;
    margin-right: 16px;
    margin-bottom: 16px;
  }
}

@media screen and (max-width: 830px){
  
  #photopresentation{
    display: none;
  }

  #photohautshop{
    display: none;
  }

}

@media screen and (max-width: 750px){
  .slider-wrapper{
    display: none;
  }

  #mentionslegales{
    display: none;
  }
}

@media screen and (max-width: 760px){

  .burger{
    display: block;
    z-index: 20000;
  }

  .nav-links ul li a{
    display: none;
    color: #354E57;
  }

  .nav-links ul{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .navbar{
    justify-content: space-evenly;
  }
  #bandeaufonce{
    justify-content: space-between;
    padding: 0;
  }

  #bandeaufonce p{
    margin: 0 20px;
  }
  #bandeaufonce input{
    width:50vw;
  }

}

@media screen and (max-width: 550px){

  #ShopHome{
    padding: 0;
  }

}

@media screen and (max-width: 550px){

  #bandeaufonce p{
    margin: 0;
    margin-right: 16px;
    padding: 4px 0;
  }

}

@media screen and (max-width: 434px){

  #bandeaufonce p{
    margin: 0;
    margin-right: 10px;
  }

}

@media screen and (max-width: 400px){

  #bandeaufonce p {
    margin: 0 5px;
    }

}

/******************* MENU BURGER ************************/

/* menu smartphone */

#burger {
  display: none;
}

/* création trait menu burger */

.bar1,
.bar2,
.bar3 {
  width: 45px;
  height: 6px;
  background-color: rgb(255, 255, 255);
  margin: 9px 0;
  border-radius: 5px;
  transition: 0.4s;

}

.nav-smartphone {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  background-color: #D7C4B4;
  overflow-x: hidden;
  transition: 0.6s;
}

/* le menu a l'intérieur du menu burger */

.nav-smartphone-liens {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
}

.nav-smartphone a {
  padding: 8px;
  text-decoration: none;
  font-size: 24px;
  color: #ffffff;
  font-family: 'rubikregular';
  display: block;
  transition: 0.5s;
}

.nav-smartphone .ml a{
  color: #354E57;
  font-size: 1rem;
  position: relative;
  top: 50px;
}

.nav-smartphone .ml a:hover{
  color: white;
}


.nav-smartphone a:hover,
.nav-smartphone a:focus {
  color: rgba(208, 255, 0, 0.664);
}

.nav-smartphone .bouton-fermer {
  position: absolute;
  top: 40px;
  right: 65px;
  font-size: 60px;
}

/* responsive */
@media all and (max-width: 768px) {

  /* corps de la page */
  
  body {
     width: 100%;
  }

  /* NAV */

  .nav {
     display: flex;
     justify-content: center;
     padding: 5px;
  }

  .menu {
     font-size: 1rem;
     padding: 10px;
     list-style: none;
  }

  .ml{
    font-size: 0.5rem;
    color: #354E57;
  }

  .menu-ul {
     display: none;
  }

  #burger {
     display: initial;
  }

}



